:root {
  --primary-blue-bg: #2874f1;
  --bg-body-main: #f1f2f4;
  --white: white;
  --font-med: 14px;
  --font-black: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

/* category */

body {
  background-color: var(--bg-body-main);
  font-family: Arial, Helvetica, sans-serif;
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 0.825rem;
  background-color: var(--white);
  width: 100%;
  margin: 0 auto;
  overflow: auto;
}
.category a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
  min-width: 90px;
  color: var(--font-black);
}

.category a span {
  font-weight: 600;
  font-size: var(--font-med);
}

.category a span:hover {
  color: var(--primary-blue-bg);
}

.category__name {
  display: flex;
}

.category__name span {
  margin-left: 0.5rem;
}

.category__name img {
  vertical-align: middle;
}

.category-name img:hover {
  fill: var(--primary-blue-bg);
}

.categories::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 1250px) {
  .categories {
    gap: 1.5rem;
    justify-content: space-around;
  }
}
